body{
  padding: 25px;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

h3 {
  font-weight: bold;
  font-style: italic;
}

.header {
  padding: 60px;
  text-align: center;
  background-image: url("imgs/bg.jpeg");
  color: white;
  font-size: 45px;
}

.nav-bar {
  padding-top: 1px;
  padding-bottom: 10px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  background: #000000;
  color: #f0f0f0;
  text-decoration: none;
}

.container {
  text-align: center;
}
